node_modules
dist
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

/host/node_modules
/host/dist

/crypto/node_modules
/crypto/dist

/forex/node_modules
/forex/dist

/crypto/package-lock.json
/crypto/yarn.lock
/crypto/pnpm-lock.yaml
/crypto/bun.lockb

/forex/package-lock.json
/forex/yarn.lock
/forex/pnpm-lock.yaml
/forex/bun.lockb

/host/package-lock.json
/host/yarn.lock
/host/pnpm-lock.yaml
/host/bun.lockb